<div class="jumbotron">
    <h2><%- title %></h2>
    <p><%- description %></p>
    <p>
        <span class="text-muted">From <%- timeStart %> till <%- timeEnd %></span>
    </p>
</div>
<p class="alert alert-info">Status: <%- status.title %></p>
<p class="alert alert-info">Priority: <%- priority.title %></p>
<div>
    <a class="btn btn-primary" href="#/event/<%- id %>/edit">Edit</a>
    <span id="delete-button" class="btn btn-danger">Delete</span>
</div>
