<table class="table table-bordered">
    <tr>
        <td>
            User name:
        </td>
        <td>
            <%- username %>
        </td>
    </tr>
    <tr>
        <td>
            Email:
        </td>
        <td>
            <%- email %>
        </td>
    </tr>
</table>