<div class="event-item">
    <h2><a href="#/event/2"><%- title %></a></h2>
    <div class="event-item-description text"><%- description %></div>
    <div class="text-muted">From <%- timeStart %> to <%- timeEnd %></div>
</div>